---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <h1 class="mt-5 text-3xl font-bold">about arnav (aka "tien.")</h1>
        <p>
          hey! i'm into neuroscience and ai. however, you can see me involved in comp math or CTF.
          i'm currently studying medicine at the Bergen County Academies (BCA). 
        </p>
        <p>
          in CTF i main forensics, but i like to explore cryptography
          as well! however, i'm insanely good at OSINT, or other misc stuff.
          i usually play with <Link href="https://ctftime.org/team/283028" external>Bing Chilling Academies</Link>
          and <Link href="https://ctftime.org/team/222966" external>Squid Proxy Lovers</Link>, or sometimes under other aliases.
        </p>
        <p>
          apart from all this, i love to sleep, listen to music, and tilt on bullet. 
          writing in lowercase is a stylistic choice of mine; i think it just looks better.
          i have a small but special funko pop collection that i'm always looking to grow, 
          so if you have any suggestions, please do share! 
        </p>
      </div>
    </div>
  </section>
</Layout>
